.BTM__topHead{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20rem;
    width: 100%;
}

.BTM__topHead_BG{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    padding: 1rem;
}

.topHead__content{
    align-items: center;
    text-align: center;
    padding-top: 6.5%;
}

.topHead__overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: relative;
}

h1{
    align-items: center;
    color: rgb(172, 207, 249);
    font-size: 60px;
}