.BTM__ServiceCard{
    width: 30rem;
    height: 20rem;
    align-items: center;
    margin: 3rem;
    box-shadow: 2px;
    padding-top: 7px;
}

.ServiceCard__content{
    font-size: 30px;
    color: blue;
}