.BTM__StudentCard{
    align-items: center;
    margin: 3rem;
    box-shadow: 2px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.ServiceCard__content{
    font-size: 30px;
    color: blue;
}

.BTM__Student_Photo{
    height: 9rem;
    width: 100%;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Student_Photo{
    width: 9rem;
    height: 9rem;
    position:inherit;
    object-fit: cover;
    border-radius: 3rem;
    border-style:hidden;
}