.slider__holder{
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 3rem;
}

.testimonial__slides{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}