.BTM__services{
    width: 100%;
    background: var(--color-bg);
    position: relative;
}

.services__overlay{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}
