.BTM__header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1000px;
}

.BTM__header_BG{
    background-image: url('../../assets/brunel_cropped.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    
    
}

.header__overlay{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 20rem;
    padding-left: 77rem;
    position: absolute;
}

.header__content{
    font-size: 40px;
    color: #A6C9FF;
    width: 400px;
}

.home__button{
    background-color: #1E2B57;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .BTM__header_BG{
        background-image: url('../../assets/brunel.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .BTM__header{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        z-index: 1;
    }
}