.BTM__experts{ /*this is the contai8ner of the whole sectin*/
    width: auto;
    height: auto;
    background: var(--color-bg);
    text-align: center;
    position: relative;
    padding-top: 5rem;
}

.experts__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.experts__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BTM__experts__contactus{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-bg);
    padding: 6rem;
}

.BTM__experts__contactus p{
    color: white;
    font-size: 20px;
}

.BTM__experts_contactus_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


