.BTM__experts{
    width: 100%;
    background: var(--color-bg);
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experts__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.experts__content{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}
