.BTM__experts{
    width: 100%;
    background: var(--color-bg);
    position:relative;
}

.experts__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}