
.BTM__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 2rem;
    z-index: 999;
    width: 100%;
    background-color: #1C264D;
}

.BTM__navbar img{
    cursor: pointer;
}

.BTM__navbar-link{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.BTM__navbar-link_logo{
    margin-right: 2rem;
    padding: 0.5rem;
}

.BTM__navbar-link_container {
    display: flex;
    flex-direction: row;
}

/* .BTM__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.BTM__navbar-link_container p,
.BTM__navbar-sign p,
.BTM__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 0 1rem;
    cursor: pointer;
}

.BTM__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.BTM__navbar-menu svg {
    cursor: pointer;
}

.BTM__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;  /* 210px */
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar__links{
    color: inherit;
    font-size: inherit;
}

.navbar__items button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    line-height: 25px;
    margin-left: 1rem;
    margin-right: 1rem; 
  }

.dropdown {
    position: absolute;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    /*min-width: 10rem;  of the dropdown menu if deleted */ 
    /*padding: 1rem 0; padding from the top to first item*/ 
    list-style: none;
    background-color: rgb(50, 95, 155);
    border-radius: 0.5rem;
    display: none;
    margin-top: 5px;
  }
  
  .dropdownlink p{
      margin: 0.5rem;
      padding-left: 0.5rem;
  }

  .dropdown.show {
    display: block;

  }
  

.BTM__navbar-menu_container p {
    margin: 1rem 0;
}

.navbar__links{
    display: flex;
    list-style: none;
}

@media screen and (max-width: 1050px){
    .BTM__navbar-link_container{
        display: none;
    }
    .BTM__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px){
    .BTM__navbar{
       padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px){
    .BTM__navbar{
       padding: 2rem;
    }
    .BTM__navbar-menu_container{
        top: 20px;
    }
}