.BTM__students{
    width: 100%;
    background: var(--color-bg);
    text-align: center;
    margin-top: 2rem;
    position: relative;

}

.students__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.students__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

