.BTM__students{
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    text-align: center;
    position: relative;
    padding-top: 5rem;
}

.students__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.students__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.BTM__students__contactus{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-bg);
    padding: 6rem;
}

BTM__students__contactus p{
    color: white;
    font-size: 20px;
}

.BTM__students_contactus_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


